################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/project_form/project_form/bin/Debug
/project_form/project_form/obj/Debug
